.error-list {
  font-size: 1.4rem;
  padding: 15px;
  background: #f3e9e8;
  border-left: 4px solid #af3c43;
  margin-top: 15px;
  margin: 0;
  margin-bottom: 1rem;
}

.error-list a {
  font-size: 1.5rem;
}

.error-list__header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.error-list ol,
.error-list ul {
  padding-left: 40px;
}

.error-list li:not(:last-of-type) {
  padding-bottom: 0;
}
